@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.section-frame {
  @apply relative;
  --arwes-frames-bg-color: #DEE2E620;
  --arwes-frames-line-color: #DEE2E6;
  --arwes-frames-deco-color: #DEE2E6;
}

.section-frame:hover {
  --arwes-frames-bg-color: #DEE2E650;
  --arwes-frames-line-color: #DEE2E6;
  --arwes-frames-deco-color: #DEE2E6;
}

.exit-frame {
  @apply relative;
  --arwes-frames-bg-color: #E13A6A20;
  --arwes-frames-line-color: #E13A6A;
  --arwes-frames-deco-color: #E13A6A;
}

.exit-frame:hover {
  --arwes-frames-bg-color: #E13A6A50;
  --arwes-frames-line-color: #E13A6A;
  --arwes-frames-deco-color: #E13A6A;
}

.logo-frame {
  @apply relative;
  --arwes-frames-bg-color: #4361EE20;
  --arwes-frames-line-color: #4361EE;
  --arwes-frames-deco-color: #4361EE;
}

.detail-frame {
  @apply relative;
  --arwes-frames-bg-color: #03274c20;
  --arwes-frames-line-color: #03274c;
  --arwes-frames-deco-color: #03274c;
}

.detail-frame-alt {
  @apply relative;
  --arwes-frames-bg-color: #C1115A20;
  --arwes-frames-line-color: #C1115A;
  --arwes-frames-deco-color: #C1115A;
}

.skill-frame {
  @apply relative;
  --arwes-frames-bg-color: #DEE2E620;
  --arwes-frames-line-color: #DEE2E6;
  --arwes-frames-deco-color: #DEE2E6;
}

.left-right-frame {
  @apply relative;
  --arwes-frames-bg-color: #4361EE20;
  --arwes-frames-line-color: #4361EE;
  --arwes-frames-deco-color: #4361EE;
}

.left-right-frame:hover {
  --arwes-frames-bg-color: #4361EE50;
  --arwes-frames-line-color: #4361EE;
  --arwes-frames-deco-color: #4361EE;
}

.accordian-frame {
  @apply relative;
  --arwes-frames-bg-color: #03274c20;
  --arwes-frames-line-color: #03274c;
  --arwes-frames-deco-color: #03274c;
}

.accordian-frame:hover {
  --arwes-frames-bg-color: #03274c50;
  --arwes-frames-line-color: #03274c;
  --arwes-frames-deco-color: #03274c;
}

.main-divider-frame {
  @apply relative;
  --arwes-frames-bg-color: #3A0CA320;
  --arwes-frames-line-color: #3A0CA3;
  --arwes-frames-deco-color: #3A0CA3;
}

.cert-frame {
  @apply relative;
  --arwes-frames-bg-color: #E13A6A20;
  --arwes-frames-line-color: #E13A6A;
  --arwes-frames-deco-color: #E13A6A;
}